<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">


   <div class="alert alert-danger" ng-if="err">Couldn't record the feedback.</div>
   <div class="alert alert-success" ng-if="recorded">Feedback recorded successfully.</div>




    <form>
     <div class="form-group ">
      <label class="control-label " for="subject">
       Subject
      </label>
      <input class="form-control" id="subject" name="subject" type="text" ng-model="user.subject"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="message">
       Feedback
      </label>
      <textarea class="form-control" cols="40" id="message" name="message" placeholder="Give your precious feedback..." rows="10" ng-model="user.feedback"></textarea>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit" ng-click="send(user)">
        Submit
       </button>
        <button class="btn btn-warning" name="submit" ng-click="clear()">
          Clear
         </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
