<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

	body{
		background-color: #9FDCF6;
	}
	#menu{
		position: absolute;
		border : 1px solid red;
		background-color: #1FF049;
		width: 40px;
		top: 100px;
		left: 100px;
	}

	#food{
		border : 1px solid blue;
		position: absolute;
		background-color: #DC9821;
		color: white;
		padding: 5px;
		margin: 5px;
		top: 200px;
		left: 300px;
	}

	#cart{
		border : 1px solid blue;
		position: absolute;
		background-color: #DC9821;
		color: white;
		padding: 5px;
		margin: 5px;
		top: 30%;
		left: 80%;
	}
	</style>
</head>

<body>
	<p id="demo"></p>
	<div id="menu">
		<form>
			<input onclick="itema()" type="radio" name="food" value="a"> a<br>
			<input onclick="itemb()" type="radio" name="food" value="b"> b<br>
			<input type="radio" name="food" value="c"> c<br>
			<input type="radio" name="food" value="d"> d<br>
			<input type="radio" name="food" value="e"> e<br>
			<input type="radio" name="food" value="f"> f<br>
			<input type="radio" name="food" value="g"> g<br>
			<input type="radio" name="food" value="h"> h<br>
			<input type="radio" name="food" value="i"> i<br>
			<input type="radio" name="food" value="j"> j<br>
			<input type="radio" name="food" value="k"> k<br>
			<input type="radio" name="food" value="l"> l<br>
			<input type="radio" name="food" value="m"> m<br>
			<input type="radio" name="food" value="n"> n<br>
			<input type="radio" name="food" value="o"> o<br>
			<input type="radio" name="food" value="p"> p<br>
			<input type="radio" name="food" value="q"> q<br>
			<input type="radio" name="food" value="r"> r<br>
			<input type="radio" name="food" value="s"> s<br>
			<input type="radio" name="food" value="t"> t<br>
			<input type="radio" name="food" value="u"> u<br>
			<input type="radio" name="food" value="v"> v<br>
			<input type="radio" name="food" value="w"> w<br>
			<input type="radio" name="food" value="x"> x<br>
			<input type="radio" name="food" value="y"> y<br>
			<input type="radio" name="food" value="z"> z

		</form>
	</div>
	<table id="food" cellpadding="10">
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(1)" id="b1">Add</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(2)" id="b2">Add</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(3)" id="b3">Add</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(4)" id="b4">Add</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(5)" id="b5">Add</button></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><button onclick="addToCart(6)" id="b6">Add</button></td>
		</tr>
	</table>

	<table id="cart" cellpadding="10">
		<!-- <tr>
			<td></td>
			<td></td>
			<td></td>
			<td><button id="plus">+</button></td>
			<td><button id="minus">-</button></td>
		</tr> -->
	</table>
	<script>
	function itema() {

		var add = document.createElement("BUTTON");
		add.innerHTML = "Add";
		

		var i1 = document.getElementById("food").rows[0].cells[0];
		var p1 = document.getElementById("food").rows[0].cells[1];
		var bu1 = document.getElementById("food").rows[0].cells[2];
		var i2 = document.getElementById("food").rows[1].cells[0];
		var p2 = document.getElementById("food").rows[1].cells[1];
		var bu2 = document.getElementById("food").rows[1].cells[2];
		var bu3 = document.getElementById("food").rows[2].cells[2];
		var bu4 = document.getElementById("food").rows[3].cells[2];
		var bu5 = document.getElementById("food").rows[4].cells[2];
		var bu6 = document.getElementById("food").rows[5].cells[2];
		
		i1.innerHTML = "aBiriyani";
		p1.innerHTML = "45";
		i2.innerHTML = "aBhel";
		p2.innerHTML = "20";
		
		bu3.innerHTML = "";
		bu4.innerHTML = "";
		bu5.innerHTML = "";
		bu6.innerHTML = "";
		
	}

	function itemb() {

		var i1 = document.getElementById("food").rows[0].cells[0];
		var p1 = document.getElementById("food").rows[0].cells[1];
		var bu1 = document.getElementById("food").rows[0].cells[2];
		var i2 = document.getElementById("food").rows[1].cells[0];
		var p2 = document.getElementById("food").rows[1].cells[1];
		var bu2 = document.getElementById("food").rows[1].cells[2];
		var bu3 = document.getElementById("food").rows[2].cells[2];
		var bu4 = document.getElementById("food").rows[3].cells[2];
		var bu5 = document.getElementById("food").rows[4].cells[2];
		var bu6 = document.getElementById("food").rows[5].cells[2];

		i1.innerHTML = "Biriyani";
		p1.innerHTML = "45";
		i2.innerHTML = "Bhel";
		p2.innerHTML = "20";
		bu3.innerHTML = "";
		bu4.innerHTML = "";
		bu5.innerHTML = "";
		bu6.innerHTML = "";
	}

	function addToCart(x){

		var item = document.getElementById("food").rows[x-1].cells[0].innerHTML;
		var price = document.getElementById("food").rows[x-1].cells[1].innerHTML;
		var check = document.getElementById("cart");
		var Rows = document.getElementById("cart").rows.length;
		var found = false;
		position=-1;

		if(Rows==0){
			var heading = check.insertRow(0);
			var foodItem = heading.insertCell(0);
			var foodPrice = heading.insertCell(0);
			var foodQuantity = heading.insertCell(0);
			foodItem.innerHTML="Item";
			foodPrice.innerHTML="Price";
			foodQuantity.innerHTML="Quantity";
		}
		for (var i = 1;i<check.rows.length; i++) {
			var temp = document.getElementById("cart").rows[i].cells[0].innerHTML;
			if(item == temp){
				found = true;
				position=i;
			}
		}  

		if(found == false){
			var table = document.getElementById("cart");
			var row = table.insertRow(1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);

			cell1.innerHTML = item;

			cell2.innerHTML = price;
			cell3.innerHTML = 1;
			var minus = document.createElement("BUTTON");
			minus.innerHTML = "-";
			cell4.appendChild(minus);
		}
		else{
			var cell3 = document.getElementById("cart").rows[position].cells[2];
			var temp = document.getElementById("cart").rows[position].cells[2].innerHTML;
			cell3.innerHTML = Number(temp)+1;
		}
	}

	</script>
</body>
</html>