<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->


<!-- Inline CSS based on choices in "Settings" tab -->


<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">


  <div class="alert alert-danger" ng-if="err">Couldn't request your recharge.</div>
   <div class="alert alert-success" ng-if="done">Request has been recorded . An OTP has been sent to your email.</div>




    <form>
     <div class="form-group ">
      <label class="control-label requiredField" for="number">
       ENTER THE AMOUNT:
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="number" name="number" type="text" ng-model="user.recharge"/>
      <span class="help-block" id="hint_number">
       Multiple of 500
      </span>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit" ng-click="send(user)">
          Send
       </button>
        <button class="btn btn-warning" name="submit" ng-click="clear()">
          Clear
         </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>


