<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form
  {
    font-family: Arial, Helvetica, sans-serif; color: black
  }
.bootstrap-iso form button, .bootstrap-iso form button:hover
  {
    color: white !important;
  } 
.asteriskField
  {
    color: red;
  }
</style>


<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form method="post">
     <div class="form-group ">
      <label class="control-label requiredField" for="number">
       ENTER THE AMOUNT:
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="number" name="number" type="text"/>
      <span class="help-block" id="hint_number">
       Multiple of 500
      </span>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Done  
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>
